/* Board border effect, pieces sprite, and board color courtesy of http://lichess.org */
#content {
  width: 800px;
  margin-top: 30px;
}

.board {
  margin-left: 224px;

  /* Pretty border around board */
  box-shadow: 0 0 7px #bbb;
  -moz-box-shadow: 0 0 7px #bbb;
  -webkit-box-shadow: 0 0 7px #bbb;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  /* No spacing between table cells */
  border-spacing: 0;
}

.square {
  padding: 0;
  width: 64px;
  height: 64px;
}

.piece {
  width: 64px;
  height: 64px;
  background-image: url(../images/pieces.png);
}

.white {
  &.square { background: #FFFFFF; }
  &.piece {
    &.pawn   { }
    &.bishop { background-position: -64px 0; }
    &.knight { background-position: -128px 0; }
    &.rook   { background-position: -192px 0; }
    &.queen  { background-position: -256px 0; }
    &.king   { background-position: -320px 0; }
  }  
}

.black {
  &.square { background: #CFCFCF; }
  &.piece {
    &.pawn   { background-position: 0 bottom; }
    &.bishop { background-position: -64px bottom; }
    &.knight { background-position: -128px bottom; }
    &.rook   { background-position: -192px bottom; }
    &.queen  { background-position: -256px bottom; }
    &.king   { background-position: -320px bottom; }
  }
}
